.contact-container {
  text-align: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.subheading {
  color: #555;
  margin-bottom: 30px;
}

.contact-card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.get-in-touch,
.send-message {
  flex: 1;
  padding: 30px;
}

.get-in-touch {
  background-color: #107807;
  color: white;
}

.get-in-touch h3,
.send-message h3 {
  margin-bottom: 20px;
  border-bottom: 2px solid #f2c744;
  display: inline-block;
  padding-bottom: 5px;
}

.get-in-touch ul {
  list-style: none;
  padding: 0;
}

.get-in-touch li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.get-in-touch .icon {
  font-size: 18px;
  margin-right: 12px;
  margin-top: 2px;
  flex-shrink: 0;
}

.icon {
  margin-right: 10px;
}

.send-message form {
  display: flex;
  flex-direction: column;
}

.send-message input,
.send-message textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-message button {
  background-color: #f2c744;
  border: none;
  padding: 10px;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .contact-card {
    flex-direction: column;
  }
}
