
<footer>
  <div class="footer-container">
    <div class="footer-menu">
      <div class="footer-section">
        <h3>ABOUT US</h3>
        <ul>
          <li><a href="#">About OpenFuture Charity and Foundational Trust</a></li>
          <li><a href="#">Impact</a></li>
          <li><a href="#">Reach & Presence</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h3>OUR WORK</h3>
        <ul>
          <li><a href="#">Education</a></li>
          <li><a href="#">Healthcare</a></li>
          <li><a href="#">Food & Nutrition</a></li>
          <li><a href="#">Women's Empowerment</a></li>
          <li><a href="#">Disaster Relief</a></li>
          <li><a href="#">Community Development</a></li>
          <li><a href="#">Support for Differently-Abled</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h3>CAMPAIGNS</h3>
        <ul>
          <li><a href="#">Shiksha Na Ruke</a></li>
          <li><a href="#">She can fly</a></li>
          <li><a href="#">Swabhiman</a></li>
          <li><a href="#">Tayyari kal ki</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h3>GET INVOLVED</h3>
        <ul>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">Individual Support</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Corporate Partner</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h3>RESOURCE CENTRE</h3>
        <ul>
          <li><a href="#">Annual Report</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Stories of Change</a></li>
          <li><a href="#">Weekly Blog</a></li>
          <li><a href="#">Films</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-divider"></div>
    
    <div class="footer-bottom">
      <div class="footer-info">
        <p>OpenFuture Charity and Foundational Trust Foundation</p>
        <p>Address of OpenFuture Charity and Foundational Trust office</p>
      </div>
      
      <div class="footer-contact">
        <p>Contact Us</p>
        <p>Tel: +91 9999999999</p>
        <p>Email: OpenFuturecharityandfoundationaltrust@gmail.com</p>
      </div>
    </div>
    
    <div class="newsletter">
      <h3>Subscribe Our Newsletter</h3>
      <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" class="newsletter-form">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="email" formControlName="email" placeholder="Email">
        <button type="submit" class="btn-subscribe" 
        
        >Subscribe</button>
      </form>
      
      <div class="social-icons">
        <a href="#" class="social-icon">
          <img src="assets/facebook-svgrepo-com.svg" alt="Facebook Icon" width="60" height="60" />


        </a>
        <a href="#" class="social-icon">
          <img src="assets/twitter-x-logo-black-round.svg" alt="Facebook Icon" width="60" height="60" />
        </a>
        <a href="#" class="social-icon">
          <img src="assets/youtube-svgrepo-com.svg" alt="Facebook Icon" width="60" height="60" />
        </a>
        <a href="#" class="social-icon">
          <img src="assets/instagram-svgrepo-com.svg" alt="Facebook Icon" width="60" height="60" />
        </a>
        <a href="#" class="social-icon">
          <img src="assets/linkedin-svgrepo-com.svg" alt="Facebook Icon" width="60" height="60" />
        </a>
      </div>
    </div>
  </div>
</footer>
