<!-- <!-- <div class="flex flex-col min-h-screen">

  <app-header *ngIf="showHeaderFooter()"></app-header>
  <div class="flex-1 pt-16">

     
  <app-adminheader *ngIf="isAdminLoggedIn()"></app-adminheader> 
    <router-outlet></router-outlet>
    <app-footer *ngIf="showHeaderFooter()"></app-footer>
  </div>
</div>
 -->

 <!-- <div class="flex flex-col min-h-screen">
  
  <ng-container *ngIf="!isAdminLoggedIn(); else adminLayout">
    <app-header></app-header>

    <div class="flex-1 pt-16">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </ng-container>

  <ng-template #adminLayout>
    <div class="flex h-screen">
      <app-sidebar></app-sidebar>
      <div class="flex-1 overflow-auto bg-gray-100">
        
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-template>
</div>  -->
<router-outlet></router-outlet>