/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
}

.send-message h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
}

.form-div {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns:1fr 2fr;
  align-items: center;
  gap: 20px;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #34495e;
  justify-self: start;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #2980b9;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.3);
}

select {
  background-color: #fff;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
}
.form-div.checkbox-div {
  grid-template-columns: auto 1fr;
  align-items: flex-start;
}
.form-div a {
  color: #67b0e0;
  text-decoration: none;
}

.form-div a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 12px;
  background: #01ac03;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #01c82f;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .send-message h3 {
    font-size: 24px;
  }

  input,
  select,
  button {
    font-size: 14px;
  }
}
